.formBody {
    background: #ffec02e8;
}

#userDetails {
    width: 70%;
}
#userAvatar {
    width: 30%;
    justify-items: center;
}
#userAvatar input[type=file] {
    visibility: collapse;
    position: fixed;
    top: 0;
    left: 0;
}

#avatarPreview {
    width: 90%;
    cursor: pointer;
}

#avatarFileName {
    font-family: 'Verdana';
    font-size: 0.8rem;
    font-style: italic;
    outline: white;
}