@using ImageStock.Data.Models
@model Gallery
@{
    ViewData["Title"] = "Галерея";
}


<script src="~/scripts/gallery.js"></script>
<script>
    $(function () {
        //showImgView(2);
    })
</script>

<div id="galleryMainBody">
    <h1 class="my-3">Галерея</h1>
    <div class="overflow-auto">
        <div id="postsGrid">
            @{
                foreach (PostInfo post in Model.Posts)
                {
                    <div class="postPreview" data-postId="@post.Id">
                        <img class="postPreviewImg" src="@Url.Content(post.ImgUrl)" />
                        <div class="postPreviewInfo">
                            <div class="postPreviewInfoContent">
                                <div class="postTitle">@post.Title</div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal @*fade*@" id="imgViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div id="imgViewModalContent" class="modal-dialog modal-lg modal-dialog-centered">
    </div>
</div>


<link rel="stylesheet" type="text/css" href="~/styles/gallery.css" />