@using ImageStock.Data.Models.Views
@model UploadFormData
@{ViewBag.Title = "Створення допису"; }

<link href="~/styles/upload.css" rel="stylesheet" />
<script src="~/scripts/upload.js"></script>

<div id="uploadContainer" class="p-2 position-absolute">
    <div class="row my-3">
        <form class="col-4 offset-1" method="post" enctype="multipart/form-data" onsubmit="doUpload">
            <h5 class="ml-1 mt-2 mb-3">Створити допис</h5>
            <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="ImgFile"></label>
                <input id="imgInp" asp-for="ImgFile" onchange="setImgFromFile(this, '#uploadImg');">
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" id="uploadBtn" class="btn btn-warning" value="Створити допис" />
            </div>
        </form>
        <div id="uploadImgContainer" class="col-5 offset-1 d-flex position-relative">
            <img id='uploadImg' class="align-self-center position-absolute" src="https://sweettutos.com/wp-content/uploads/2015/12/placeholder.png" />
        </div>
    </div>
</div>